kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: havi
spec:
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: 'havi:latest'
  resources: {}
  successfulBuildsHistoryLimit: 5
  failedBuildsHistoryLimit: 5
  strategy:
    type: Docker
  postCommit: {}
  source:
    type: Git
    git:
      uri: https://github.com/vrutkovs/havi
      ref: main
    sourceSecret:
      name: "private-repo-creds"
  runPolicy: Serial
